#banner {
	background-image:url("http://upload.wikimedia.org/wikipedia/commons/2/27/Vancouver_dusk_pano.jpg");
	background-position:62% 4%;
	background-attachment:fixed;
	min-height:420px;
	margin-bottom:0px;
}

/* @group core */
.wrapper { width: 850px; overflow: hidden; margin: 0 auto; background: none; }

#content { display: block; width: 820px; margin: 0 auto;  }
#left { display: block; width: 560px; float: left; overflow: hidden; margin-right: 20px; }
#right { display: block; width: 240px; float: left; overflow: hidden; }

/* @group navigation */
nav { width: auto; background: #eee; height: 45px; border-bottom: 1px solid #dadada; margin-bottom: 30px; }

ul#n { width: 850px; margin: 0 auto; display: block; list-style: none; }
ul#n li { float: left; line-height: 45px; border: 3px solid #eee; border-top: 0px; border-bottom: 0px; }
ul#n li a { display: block; padding: 0 11px; color: #969696; font-size: 15px; font-weight: bold; text-shadow: 0px 1px 1px #fff; }

ul#n li.sel { background: #b4e127; border: 3px solid #c1ff00; border-top: 0px; border-bottom: 0px; }
ul#n li.sel a { color: #fff; text-shadow: 0px 1px 2px #88b618; }

.navbar {
	margin:0;
}

.spacing {
	margin-top:20px;
}

.scrollable {
	max-height:223px;
	overflow-x:hidden;
	margin-bottom:0px;
}

#locationsItem {
	text-align:center;
	width:100%;
	height:75px;
	border-bottom:2px solid #ddd;
}

#locationsItem:hover {
	background-color:#74AFAD;
	color:white;
}

.handPointer {
	cursor:pointer;
}

#map-canvas {
	height:350px; 
	width:750px; 
	margin:0 auto 0 auto; 
	border:2px solid black
}

#list li:first-child {
    position: absolute;
    left: 10px;
    top: 0
}

#quoteContent {
	background: url(http://www.brainyquote.com/st/img/1108473/quotes.png) no-repeat scroll 5px -2px yellow;
	border: 0;
	box-shadow: 5px 10px 5px ;
}

#box {
	border-color: #f0f0f0 #ececec #dfdfdf;
  	border-radius: 5px 5px 5px 5px;
  	border-style: solid;
  	border-width: 1px;
  	font-size: 140%;
  	/*box-shadow: 0 1px 3px #ccc;*/
}

#personQuoted {
	margin-right: 0.5cm;
}

#navHeader {
	font-family: Brush Script MT;
	font-size: 350%; 
	color: turquoise;
}

#quote {
	font-style: italic;
	font-weight: normal;
}