<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <div class="navbar-brand" id="navHeader">Outinglicious</div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#/dashboard">Dashboard</a></li>
                            <li><a href="#/routes">Routes</a></li>
                            <li><a href="#/administration">Administration</a></li>
                            <li><a href="#/profile">Profile</a></li>
                            <li class="handPointer"><a href="" data-ng-click="logout()">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div style="text-align:center">
        	<div class="container">
        		<h1>Administration</h1>
        		<div class="row">
        			<div class="col-md-4">
        			</div>
        			<div class="col-md-4">
        				<div class="panel panel-default">
        					<div class="panel panel-header">
        						<h4><span class="glyphicon glyphicon-warning-sign" style="color:red"></span> Please ensure that the file contains the required fields.</h4>
        					</div>
        					<div class="panel panel-body">
        						<button class="btn btn-default" data-toggle="modal" data-target="#sampleData"><span class="glyphicon glyphicon-info-sign" style="color:#ADD8E6"></span> Sample Data</button>
        						<button class="btn btn-default" data-toggle="modal" data-target="#requiredFields"><span class="glyphicon glyphicon-info-sign" style="color:#ADD8E6"></span> Required Fields</button>
        					</div>
        					<h5>Please look at the links above before proceeding.</h5>
        				</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-md-4">
        			</div>
        			<div class="col-md-4">
        				<div class="panel panel-default">
        					<div class="panel panel-body">
        						<div class="panel panel-header">
        							<h4><span class="glyphicon glyphicon-upload" style="color:#ADD8E6"></span> Upload CSV File</h4>
        						</div>
        						<button class="btn btn-default" onclick="document.getElementById('csvfile').click();"><span class="glyphicon glyphicon-file"></span> Choose File</button>
        						<button class="btn btn-default" data-ng-click="upload()"><span class="glyphicon glyphicon-upload" style="color:#ADD8E6"></span> Upload</button>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <input type="file" style="visibility: hidden" accept=".csv" id="csvfile"/>

        <div class="modal fade" id="requiredFields" tabindex="-1" role="dialog" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<div class="modal-body">
        				<h4 style="text-align:center"><span class="glyphicon glyphicon-exclamation-sign"></span> Required Fields</h4><br>
        				<ul style="text-align:left; list-style-type:none;">
        					<!-- This should be abstracted into a directive -->
        					<div class="container">
        						<div class="row">
        							<div class="col-md-3">
        								<li><span class="glyphicon glyphicon-unchecked"></span> CULTURAL_SPACE_NAME</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> WEBSITE</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> TYPE</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> PRIMARY_USE</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> ADDRESS</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> LOCAL_AREA_OWNERSHIP</li>
        							</div>
        							<div class="col-md-3">
        								<li><span class="glyphicon glyphicon-unchecked"></span> SQUARE_FEET</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> NUMBER_OF_SEATS</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> ACTIVE_SPACE</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> LATITUIDE</li>
        								<li><span class="glyphicon glyphicon-unchecked"></span> LONGITUDE</li>
        							</div>
        						</div>
        					</div>
        				</ul>
        				<br>
        				<div style="text-align:center"><p><b>Note:</b> The fields must exist, but an item does not necessarily have to have a value</p></div>
        			</div>
        		</div>
        	</div>
        </div>

        <div class="modal fade" id="sampleData" tabindex="-1" role="dialog" aria-hidden="true">
            <br><br><br><br><br><br><br><br><br><br>
            <div class="modal-content" style="border-radius:0px">
                <img src="css/images/samplecsv.png" alt="Picture of sample csv data">
            </div>
        </div>
    </body>
</html>