<div class="container-fluid spacing">
	<div class="row">
		<div class="col-md-3">
			<form>
				<div class="form-group">
					<label>Input</label>
					<input type="text" class="form-control" ng-model="input">
				</div>
				<div class="form-group">
					<label>Filter</label> 
					<input type="text" class="form-control" ng-model="search">
				</div>
			    
			     <!-- ng-click calls methods from the controller whenever the button is clicked-->
			    <div class="form-group">
					<button class="btn btn-default" ng-click="add(input)">Add to list</button>
					<button class="btn btn-default" ng-click="logout()">Log out</button>
				</div>
			    
			    <!-- Filters a list defined in the controller, and prints each result in the panel. -->
				<div id="panel" class="well" style="text-align:center" ng-repeat="item in list | filter:search">{{item.name}}</div>
			</form>
		</div>
		<div id="map-canvas" style="height:400px; width:750px; margin: 0 auto 0 auto; border:2px solid black;"></div>
	<div>
</div>
