<body>	
	<header>
		<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/wishlist">Wishlist</a></li>
				<li><a href="#/profile">Profile</a></li>
				<li class="handPointer"><a ng-click="logout()">Log out</a></li>
			</ul>
		</div>
	</div>
</nav>
	</header>
	
	<nav>
		<ul id="n" class="clearfix">
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a href="#/settings">Settings</a></li>
			<li><a href="#/editprofile">Edit Profile</a></li>
		</ul>
	</nav>
	
	<div id="content" class="clearfix">
		<section id="right">

			<div id="userStats" class="clearfix" ng-model="userData">
		<div class="form-group">
		    <label>Name:</label>
		    <input type="text" class="form-control" ng-model="name" ng-change="updateName(name)">
		    <button type="button" class="btn btn-default" ng-click="saveName()">
         		<span class="glyphicon glyphicon-floppy-disk"></span> 
        	</button>
					
		</div>
		<div class="form-group">
		    <label>Location:</label>
		    <input type="text" class="form-control" ng-model="location" ng-change="updateLocation(location)">
		     <button type="button" class="btn btn-default" ng-click="saveLocation()">
         		<span class="glyphicon glyphicon-floppy-disk"></span> 
        	</button>
		</div>
		<div class="form-group">
		    <label>Bio:</label>
		    <textarea rows="10" cols="20"class="form-control" ng-model="bio" ng-change="updateBio(bio)"></textarea>
		    <button type="button" class="btn btn-default" ng-click="saveBio()">
         		<span class="glyphicon glyphicon-floppy-disk"></span> 
        	</button><br>
		</div>
			</div>

		<a href="#/profile"><button align="left" class="btn btn-default">Cancel</button></a>
		<button align="left" class="btn btn-default" ng-click="saveAll()">Save All</button>

		</section>
	</div>
	
</body>