<div class="jumbotron" id="banner">
	<div class="container">
		<br><br><br>
		<h1 style="color:white; font-family:Brush Script MT; font-size:550%">Outinglicious</h1>
		<button class="btn btn-primary" ng-click="loginWithGoogle()">Login using Google</button>
	    <a href="#/createAccount"><button class="btn btn-default">Create New Account</button></a>
	</div>

<!-- 		<div class="row">
			<div class="col-md-10">
				<div class="col-md-offset-8">
				<div class="pull-right">
				<p style="text-align:center; color:yellow"><i><q>Vancouver is the square root of negative one. Technically it shouldn't exist, but it does. I can't imagine living anywhere else.</q></i>
					<br>
					<div style="text-align:right; color:yellow; font-size:120%" id="personQuoted"><strong>- Douglas Coupland</strong></div>
				</p>
			</div>
		</div>
	</div>
</div> -->

</div>
<div class="container-fluid well" style="border-radius:0px; background-color:gray;">
	<div class="row">
		<div class="col-md-4">
			<div class="well mainWell">
				<h3 style="text-align:center; font-family:Brush Script MT">Functionality</h3>
				<p>This is some filler text</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well mainWell">
				<h3 style="text-align:center; font-family:Brush Script MT">About Outinglicious</h3>
				<p>This is some filler text</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well mainWell">
				<h3></h3>
				<p><i><q>Vancouver is the square root of negative one. Technically it shouldn't exist, but it does. I can't imagine living anywhere else.</q></i></p>
				<div style="text-align:right; font-size:120%; font-family:Brush Script MT" id="personQuoted"><strong>Douglas Coupland</strong></div>
			</div>
		</div>
	</div>
</div>


