<div class="jumbotron" id="banner">
	<div class="container">
		<br><br><br><br><br>
		<h1 style="color:white; font-family:Brush Script MT; font-size:550%">Outinglicious</h1>
		<button class="btn btn-primary" ng-click="loginWithGoogle()">Login using Google</button>
	    <a href="#/createAccount"><button class="btn btn-default">Create New Account</button></a>
	</div>

		<div class="row">
			<div class="col-md-10">
				<div class="col-md-offset-8">
				<div class="pull-right">
				<p style="text-align:center; color:yellow"><i><q>Vancouver is the square root of negative one. Technically it shouldn't exist, but it does. I can't imagine living anywhere else.</q></i>
					<br>
					<div style="text-align:right; color:yellow; font-size:120%" id="personQuoted"><strong>- Douglas Coupland</strong></div>
				</p>
			</div>
		</div>
	</div>
</div>

</div>

