<head>
	<title>Routes</title>
	<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/dashboard">Dashboard</a></li>
				<li class="handPointer"><a ng-click="logout()">Log out</a></li>
			</ul>
		</div>
	</div>
</nav>
</head>
	<h1 style="text-align:center">Route</h1>
	<body>
		<div class="col-md-3">
		<div class="list-group scrollable">
			<table class="class="table"" ng-model="routeOrder">
				<thead>
					<th> 
						Location
					</th>
					<th> 
						Priority
					</th>
				</thead>
				<tr ng-repeat="place in routes">
					<td>{{place.name}}</td>
					<td> 
						<select
						 ng-change="selectAction(place)"
						 ng-model="place.$priority"
						 data-ng-options="option.value as option.name for option in orderSelect"
						 data-ng-init='1'>
						</select>
					</td>
				</tr>
				<tr>
					<td>
					<button ng-model="routeOrder" ng-click="createRoute()">
						Calculate Route
					</button>
				</td>
				</tr>
			</table>
			
		</div>

	</div>
	<div class="container">
				<div class="pull-right" id="map-canvas"></div>
		</div>
	</body>
</html>